@import 'src/styles/mixins';

.root {
    display: flex;
    flex-direction: column;
    background: #ebebeb;
    padding: 1.5rem 1rem 5.625rem;

    @include breakpoint-up(large) {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 8.125rem;
        padding: 0 10rem;
    }
}

.img {
    width: 12.5rem;
    height: 9.1875rem;

    @include breakpoint-up(large) {
        flex: 1 0 0;
        width: 24.125rem;
        height: 26.375rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    h2 {
        color: var(--black-color);
        font-size: var(--font-md);
        font-weight: 800;
        margin-top: 2.25rem;
    }

    @include breakpoint-up(large) {
        flex: 2 1 0;

        h2 {
            font-size: 2rem;
        }
    }
}

.input {
    width: 100%;
    padding: 1rem;
    color: var(--gray-color);
    font-size: 0.875rem;
    font-family: inherit;
    line-height: 1.25rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-black-tinted);
    border-radius: 6.25rem;
    outline: none;
    caret-color: var(--black-color);
}

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2.5rem;

    h2 {
        color: var(--black-color);
        font-size: var(--font-md);
        font-weight: 800;
    }

    .logo {
        width: 3.5rem;
        height: 4.125rem;
    }

    @include breakpoint-up(large) {
        h2 {
            font-size: 2rem;
        }
    }
}