@import 'src/styles/mixins';

.root {
    padding: 3.75rem 1rem;
    text-align: center;

    h2 {
        color: var(--color-black);
        text-align: center;
        font-size: var(--font-lg);
        font-weight: 800;
        margin-bottom: 3.5rem;
    }

    @include breakpoint-up(large) {
        padding: 7.5rem 0;

        h2 {
            font-size: var(--font-xlg);
        }
    }
}

.teamMembers {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;

    @include breakpoint-up(large) {
        flex-direction: row;
        gap: 8.75rem;
    }
}

.teamMember {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

.memberImg {
    width: 17rem;
    height: 19.73rem;

    @include breakpoint-up(large) {
        width: 17.5rem;
        height: 20.3125rem;
    }
}

.memberInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.memberName {
    color: var(--color-black);
    font-size: var(--font-sm);
    font-weight: 800;

    @include breakpoint-up(large) {
        font-size: var(--font-md);
    }
}

.memberDescription {
    color: var(--color-black);
    font-size: var(--font-sx);
    font-weight: 400;
    line-height: 1.25rem;
    margin-top: 0.5rem;
}

.memberLink {
    color: var(--color-black);
    font-size: var(--font-sx);
    font-weight: 600;
    text-decoration-line: underline;
    margin-top: 1.25rem;
}